<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="#"><button type="button" class="btn btn-outline-dark">About</button></link>
</head>
<body>
<h1>Test Your Brain with Fun Pictures</h1>
 

<div class="box">
<h2>1. Are the squares inside the blue and yellow squares all the same color?</h2>
<img src="color-illusion-test.jpg" >
<p>Wait for it!</p>
</div>
<div class="box">
<h2></h2>
<img src="">
<p>AWESOME!</p>
  
</div>

</body>
</html>




