// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: #581845 ;
  font-weight: bold;
  font-size: 50px; 
  text-align: center;
}

 body { 
  background: url("whitewall.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
  background-color:gray;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
  text-align: left;
  float:left;

}

h2 {
  text-align:left;
}